/* CSS */
/* BEGIN BODY*/
body{	
	color: black;
	background: white;
	margin-top: 10px;
	margin-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
		color: #000000;
		font-size: 50px;
		font-weight: normal;
	empty-cells: show;
}

em{
	font-weight: bold;
	font-style: normal;
	color: #ff6600;
}

a{
	color: #FF6600;
	text-decoration: underline;
}

a:hover{
	color: #FF6600;
	text-decoration: underline;
}

h1 {
	font-size: 14px;
	font-weight: bold;
	margin: 0px;
	}	
	
h2, h3, h4, h5	{
	font-size: 12px;
	font-weight: bold;
	margin: 0px ;
}	

body, div, p, table, td, li, ul, ol
	{	
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 12px;
	font-weight: normal;
	empty-cells: show;
	}	

li{
	color: #000000;
}

li a{
	color: #000000;
	text-decoration: underline;
}

li a:hover{
	color: #ff6600;
	text-decoration: underline;
}

small
	{
	font-size: 11px;
	}
	
form{
	margin: 0px;
}

.Text-Field {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 10px;
	border-color: #666666;
	border-width: 1px;
	border-style: solid;
	height: 16px;
	width: 150px;
	line-height: 12px;
}

.partNumSearchField{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 10px;
	border-color: #666666;
	border-width: 1px;
	border-style: solid;
	height: 16px;
	width: 80px;
	line-height: 12px;
}
 
SELECT {  font-family: Helvetica, sans-serif; font-size: 9pt}		
/* END BODY */

/*Begin Masthead Elements */
.header{
	background-color: #C2D6EB;
	vertical-align: top; 
	text-align: right; 
	padding-right: 5px;	
	color: #000000;
}

.title
	{	
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	empty-cells: show;
	}	

.internal

	{	
	font-family: Arial, Helvetica, sans-serif;
	color: #FF6633;
	font-size: 11px;
	font-weight: normal;
	empty-cells: show;
	}	

.headerText{
	text-align: right;
	font-size: 11px;
	color: #000000;
}

.headerText a{
	color: #000000;
	text-decoration: none;
}

.headerText a:hover{
	color: #000000;
	text-decoration: underline;
}

.headerInput{
	font-size: 12px;
	width: 100px;
	border: 1px solid #999999;
	font-family: Arial, Helvetica, sans-serif;
	height: 21px;
	padding: 2px;
}

.nav2{
	background-color: #C2D6EB;
	color:#000000;
}

.nav2 a{
	background-color: #C2D6EB;
	color:#000000;
	text-decoration: none;
}

.nav2 a:hover{
	background-color: #C2D6EB;
	color:#ffffff;
	text-decoration: underline;
}


.nav2links {
	display: inline;
	color: #000000;
	background-color: #C2D6EB;
	font-size: 11px;
	text-decoration: none;
	white-space: nowrap;
	font-weight: normal;
}

.nav2links a{
	display: inline;
	color: #000000;
	height: 100%;
	background-color: #C2D6EB;
	text-decoration: none;
	font-weight: normal;
	padding: 3px 10px 3px 5px;
}

.nav2links a:hover{
	display: inline;
	color: #ffffff;
	height: 100%;
	background-color: #6699cc;
	text-decoration: none;	
	font-weight: normal;
	padding: 3px 10px 3px 5px;
}




.nav3{
	background-color: #e6ccb3;
	color:#000000;
}

.nav3 a{
	background-color: #e6ccb3;
	color:#000000;
	text-decoration: none;
}

.nav3 a:hover{
	background-color: #e6ccb3;
	color:#ffffff;
	text-decoration: underline;
}


.nav3links {
	display: inline;
	color: #000000;
	background-color: #e6ccb3;
	font-size: 11px;
	text-decoration: none;
	white-space: nowrap;
	font-weight: normal;
}

.nav3links a{
	display: inline;
	color: #000000;
	height: 100%;
	background-color: #e6ccb3;
	text-decoration: none;
	font-weight: normal;
	padding: 3px 10px 3px 5px;
}

.nav3links a:hover{
	display: inline;
	color: #ffffff;
	height: 100%;
	background-color: #cc9966;
	text-decoration: none;	
	font-weight: normal;
	padding: 3px 10px 3px 5px;
}

.nav4{
	background-color: #99cc66;
	color:#000000;
}

.nav4 a{
	background-color: #99cc66;
	color:#000000;
	text-decoration: none;
}

.nav4 a:hover{
	background-color: #99cc66;
	color:#ffffff;
	text-decoration: underline;
}


.nav4links {
	display: inline;
	color: #000000;
	background-color: #99cc66;
	font-size: 11px;
	text-decoration: none;
	white-space: nowrap;
	font-weight: normal;
}

.nav4links a{
	display: inline;
	color: #000000;
	height: 100%;
	background-color: #99cc66;
	text-decoration: none;
	font-weight: normal;
	padding: 3px 10px 3px 5px;
}

.nav4links a:hover{
	display: inline;
	color: #ffffff;
	height: 100%;
	background-color: #669933;
	text-decoration: none;	
	font-weight: normal;
	padding: 3px 10px 3px 5px;
}

.MyNav a{
	color: #000000;
	text-decoration: none;
}

.gNavBg{
	background-color: #6699CC;
	color:#FFFFFF;
}

.gNavBg a{
	background-color: #6699CC;
	color:#FFFFFF;
	text-decoration: none;
}

.gNavBg a:hover{
	background-color: #6699CC;
	color:#FFFFFF;
	text-decoration: underline;
}


.gNav {
	display: inline;
	color: #FFFFFF;
	background-color: #6699CC;
	font-size: 11px;
	text-decoration: none;
	white-space: nowrap;
	font-weight: normal;
}

.gNav a{
	display: inline;
	color: #FFFFFF;
	height: 100%;
	background-color: #6699CC;
	text-decoration: none;
	font-weight: normal;
	padding: 3px 10px 3px 5px;
}

.gNav a:hover{
	display: inline;
	color: #000000;
	height: 100%;
	background-color: #C2D6EB;
	text-decoration: none;	
	font-weight: normal;
	padding: 3px 10px 3px 5px;
}

.gStock {
	display: inline;
	color: #ffffff;
	height: 100%;
	text-decoration: none;	
	font-weight: normal;
	font-family: "Courier New", Courier, mono;
	padding: 3px 10px 3px 5px;
}

.gIntUse {
	display: inline;
	color: #ffffff;
	height: 100%;
	text-decoration: none;	
	font-weight: normal;
	padding: 3px 10px 3px 5px;
}

.aboutNav {
	display: inline;
	color: #FFFFFF;
	background-color: #6699CC;
	font-size: 11px;
	text-decoration: none;
	white-space: nowrap;
	font-weight: normal;
}

.aboutNav a{
	display: inline;
	color: #FFFFFF;
	height: 100%;
	background-color: #6699CC;
	text-decoration: none;
	font-weight: normal;
	padding: 3px 10px 3px 5px;
}

.aboutNav a:hover{
	display: inline;
	color: #FFFFFF;
	height: 100%;
	background-color: #6699CC;
	text-decoration: none;
	font-weight: normal;
	padding: 3px 10px 3px 5px;
}




/*End Masthead Elements */

/*Return to Top*/
.returnTop{
	color: #FF6600;
}

.returnTop a{
	color: #FF6600;
	text-decoration: none;
}

.returnTop a:hover{
	color: #FF6600;
	text-decoration: underline;
}
/*End Return to Top

/*Spacer Divs*/
div.Spacer-5px
{
	width:5px;
	display:block;
	height:5px;
	padding:0;
	border:0;
	overflow:hidden;
	clear:left;
}

div.Spacer-10px
{
	width:10px;
	display:block;
	height:10px;
	padding:0;
	border:0;
	overflow:hidden;
	clear:left;
}


div.Spacer-10px-wide
{
	width:10px;
	height:100%;
	padding:0;
	border:0;
	overflow:hidden;
}

div.Spacer-150px-wide
{
	width:150px;
	height:100%;
	padding:0;
	border:0;
	overflow:hidden;
}
div.Spacer-155px-wide
{
	width:155px;
	height:100%;
	padding:0;
	border:0;
	overflow:hidden;
}
/* End Spacer Divs*/

/*DIV BLOCK BUTTONS*/

.subscribe_button a{
    display:block;
	color: #FFFFFF;
	background-color: #80CCE6;
	width: 155px;
	height: 25px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-image:url(../shared/images/misc/25px_tab_bg.gif);
	background-repeat: no-repeat;
	text-decoration: none;
	text-align: right;
	font-weight: bold;
}

.subscribe_button a:hover{
	color: #FFFFFF;
	text-decoration: none;
	background-color: #6699CC;
}

.learn_more_button a{
    display:block;
	color: #FFFFFF;
	background-color: #99B399;
	width: 140px;
	height: 25px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-image:url(../shared/images/misc/140px_25px_tab_bg.gif);
	background-repeat: no-repeat;
	text-decoration: none;
	text-align: right;
	font-weight: bold;
}

.learn_more_button a:hover{
	color: #FFFFFF;
	text-decoration: none;
	background-color: #809966;
}

.blue_rollover a{
    display:block;
	color: #FFFFFF;
	background-color: #6699CC;
	width: 155px;
	height: 35px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-image:url(../shared/images/misc/35px_tab_bg.gif);
	background-repeat: no-repeat;
	text-decoration: none;
	text-align: right;
	font-weight: bold;
}

.blue_rollover a:hover{
	color: #FFFFFF;
	text-decoration: none;
	background-color: #6699CC;
}

.grey_rollover a{
    display:block;
	color: #FFFFFF;
	background-color: #B3B3B3;
	width: 155px;
	height: 35px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-image:url(../shared/images/misc/35px_tab_bg.gif);
	background-repeat: no-repeat;
	text-decoration: none;
	text-align: right;
	font-weight: bold;
}

.grey_rollover a:hover{
	color: #FFFFFF;
	text-decoration: none;
	background-color: #6699CC;
}

.green_rollover a{
    display:block;
	color: #FFFFFF;
	background-color: #99B399;
	width: 155px;
	height: 35px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-image:url(../shared/images/misc/35px_tab_dwn_bg.gif);
	background-repeat: no-repeat;
	text-decoration: none;
	text-align: right;
	font-weight: bold;
}

.green_rollover a:hover{
	color: #FFFFFF;
	text-decoration: none;
	background-color: #809966;
}

.darkGreen_rollover a{
    display:block;
	color: #FFFFFF;
	background-color: #809966;
	width: 155px;
	height: 35px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-image:url(../shared/images/misc/35px_tab_dwn_bg.gif);
	background-repeat: no-repeat;
	text-decoration: none;
	text-align: right;
	font-weight: bold;
}

.darkGreen_rollover a:hover{
	color: #FFFFFF;
	text-decoration: none;
	background-color: #809966;
}

.padMe {
	display: block;
	float: right;
	color: #FFFFFF;
	font-weight: bold;
	padding: 10px 20px 0px 0px;
}

.padMe5 {
	display: block;
	float: right;
	color: #FFFFFF;
	font-weight: bold;
	padding: 5px 20px 0px 0px;
}

.10pxpad-wide {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}


/*DIV BLOCK BUTTONS /*


/* BEGIN: INPUT BUTTONS */

.inputButton{
	border: 1px #C2D6EB;
	border-style: outset;
	padding: 2px 5px;
	background-color: #6699cc;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
	vertical-align: middle;
}

.inputButton_over{
	border: 1px #D3E3F4;
	border-style: inset;
	padding: 2px 5px;
	background-color: #C2D6EB;
	color: #333333;
	font-weight: bold;
	font-size: 12px;
	vertical-align: middle;
}

/* END: INPUT BUTTONS */

/* Begin Homepage Elements */
.home_intro {
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

.news_and_events_bg {
	background-color: #F2E5D9;
}

.news_and_events {
	background-color: #F2E5D9;
	padding: 10px;
}

.home_applications {
	background-color: #D1D9CE;
	font-size: 10px;
	line-height: 14px;
	padding: 10px;
}
.home_applications a{
	color: #000000;
	text-decoration: none;
}


.home_applications a:hover{
	color: #ff6600;
	text-decoration: underline;
}
.boldwhite{
	color: #FFFFFF;
	text-decoration: underline;
	font-weight: bold;
}

.boldwhite a{
	color: #FFFFFF;
	text-decoration: underline;
	font-weight: bold;
}

.boldwhite a:hover{
	color: #FF6600;
	text-decoration: underline;
	font-weight: bold;
}

.home_applications_button {
	background-color: #99B399;
	padding: 5px;
	text-align: right;
}


.grey_box {
	background-color: #E7E7E7;
	padding: 10px;
}

.cloud_box {
	background-color: #80CCE6;
	color: #FFFFFF;
	font-weight: bold;
	padding: 10px;
}

.orange_arrow {
	background-image:url(../shared/images/misc/arrow_orange.gif);
	background-repeat:no-repeat;
	padding: 0px 0px 0px 15px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

.orange_arrow a{
	color: #000000;
	text-decoration: none;
}

.orange_arrow a:hover{
	color: #FF6600;
	text-decoration: none;
}

/* End Homepage Elements */
	
/* BEGIN HEADER */	
table.Hd
	{
	background-color: #CCCCCC;
	}
td.Crn
	{
	vertical-align: top;
	text-align: right;
	}
td.Lo
	{
	width: 350px;
	}
	
.intheader
	{
	color: #FFFFFF;
	font-size: 18px;
	text-decoration: none;
	white-space: nowrap;
	font-weight: bold;
}

/* END HEADER */	

/* Global Footer */
.footerBlue {
	background-color: #6699CC;
}

.footer {
	background-color: white;
	font-size: 10px;
	color: #FFFFFF;
	padding: 0px 0px 0px 10px;
}

.footer a{
	color: #FFFFFF;
	text-decoration: none;

}

.footer a:hover{
	color: #FFFFFF;
	text-decoration: underline;

}


/* End Global Footer */

/* BEGIN SEARCH */
.Srch {
	font-weight: bold;
	font-size: 90%;
}

.A_Srch
		{
	font-size: 10px;
	padding: 0;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
		}

.Fld {
	text-align: right;
	white-space: nowrap;
	vertical-align: middle;
}

td.Nav {
	color: #ff6600;
	vertical-align: middle;
	font-size: 11px;
	padding: 0 0 0 10px;

}

/*
.GF {
	padding: 0;
	background-color: #CCCCCC;
	border-top: 1px solid #FF6600;
	border-bottom: 3px solid #FF6600;
	display: block;
	width: 750px;
}
*/
.FN {
	font-size: 11px;
	color: #ffffff;
	height: 20px;
}

/* END GLOBAL NAVIGATION */	

/* BEGIN BREAD CRUMB */
.Brd  {
	font-size: 10px;
	color: #B3B3B3;
	background-color: #FFFFFF;
	height: 20px;
	width: 590px;
	padding: 0px;
	text-decoration: none;
	display: block;
}

.Brd a  {
	color: #FF6600;
	text-decoration: none;
}

.Brd a:hover  {
	color: #FF6600;
	text-decoration: underline;
}

.title a{
	color:#000000;
	text-decoration: underline;
}

.title a:hover{
	color:#FF6600;
	text-decoration: underline;
}
/*

/* BEGIN BREAD CRUMB */
.SubGraph{
	padding-top: 3px;
	padding-bottom: 5px;
	padding-left: 5px;
	display: block;
	width: 145px;
	float: right;
	text-align: right;
}


/* BEGIN PAGE HEADER */
.PH {
	font-size: 14px;
	font-weight: bold;
	padding: 4px 5px 4px 10px;
	color: #FFFFFF;
	background-color: #809966;
}

.PH_mgr {
	font-size: 14px;
	font-weight: bold;
	padding: 4px 5px 4px 10px;
	color: #FFFFFF;
	background-color: #99cc66;
}

.PH_emp, .PageSubHeader1, .bg, .banner {
	font-size: 14px;
	font-weight: bold;
	padding: 4px 5px 4px 10px;
	color: #FFFFFF;
	background-color: #80CCE6;
}

.PH_emp2 {
	font-size: 14px;
	font-weight: bold;
	padding: 4px 5px 4px 10px;
	color: #FFFFFF;
	background-color: #80CCE6;
}
/* END PAGE HEADER */


/* BEGIN PERSISTENT NAVIGATION */
.PN {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #C2D6EB;
	width: 150px;
}

.PN_head a{
	display:block;
	padding: 3px 10px 3px 10px;
	background-color: #6699CC;
	color: #ffffff;
	text-decoration: none;
	font-size: 11px;
	border-bottom: #ffffff 1px solid;
}

.PN_head a:hover{
	display:block;
	padding: 3px 10px 3px 10px;
	background-color: #6699CC;
	color: #ffffff;
	text-decoration: none;
	border-bottom: #ffffff 1px solid;
}

.PN_strip_on a{
	display:block;
	padding: 3px 10px 3px 10px;
	background-color: #ffffff;
	color: #000000;
	text-decoration: none;
	font-size: 11px;
	border-bottom: #ffffff 1px solid;
}

.PN_strip_on a:hover{
	display:block;
	padding: 3px 10px 3px 10px;
	background-color: #6699CC;
	color: #ffffff;
	text-decoration: none;
	border-bottom: #ffffff 1px solid;
}

.PN_strip a{
	display:block;
	padding: 3px 10px 3px 10px;
	background-color: #A1C4E6;
	color: #000000;
	text-decoration: none;
	font-size: 11px;
	border-bottom: #ffffff 1px solid;
}

.PN_strip a:hover{
	display:block;
	padding: 3px 10px 3px 10px;
	background-color: #6699CC;
	color: #ffffff;
	text-decoration: none;
	border-bottom: #ffffff 1px solid;
}

.PN_strip_indent a{
	display:block;
	padding: 3px 10px 3px 20px;
	border-bottom: #ffffff 1px solid;
	background-color: #C2D6EB;
	color: #000000;
	text-decoration: none;
	font-size: 11px;
}

.PN_strip_indent a:hover{
	display:block;
	padding: 3px 10px 3px 20px;
	border-bottom: #ffffff 1px solid;
	background-color: #6699CC;
	color: #ffffff;
	text-decoration: none;
}

.PN_strip_search{
	font-size: 10px;
}

.PN_strip_search a{
	display:block;
	padding: 1px 5px;
	background-color: #C2D6EB;
	color: #000000;
	text-decoration: none;
	font-size: 11px;
}

.PN_strip_search a:hover{
	display:block;
	padding: 1px 5px;
	background-color: #6699CC;
	color: #ffffff;
	text-decoration: none;
}

.PN UL {
	margin: 7px 0;
}

.PN LI {
 list-style: none;
 text-indent: 0;
 border-bottom: 1px solid #ffffff;
 padding: 2px 0px 1px 0px;
 font-size: 90%;
}

.PN LI.LAST {
	border-bottom: 0;
}

LI.PT,
LI.CT {
	list-style-type: none;
}

/* END PERSISTENT NAVIGATION */

/* BEGIN OTHER INFO */
/*
.OI {
	padding: 10px;
	background-color: #ffffff;
	border: 1px solid #3399cc;
	border-bottom: 4px solid #3399cc;
	margin-bottom: 2px;
}

.OI UL {
	margin: 7px 0;
}

.OI LI {
 list-style: none;
 text-indent: 0;
 border-bottom: 1px solid #FFFFFF;
 padding: 2px 0 1px 0;
 font-size: 90%;
}

.OI LI {
 list-style: none;
 text-indent: 0;
 border-bottom: 1px solid #3399cc;
 padding: 2px 0 1px 0;
 font-size: 90%;
}
*/
/* END OTHER INFO */
/*
/* BEGIN RELATED LINKS 
.RL {
	border-bottom: 2px solid #B3B3B3;
	font-size: 12px;
	font-weight: bold;
	background-color: #CCCCCC;
}
 END RELATED LINKS */

/* BEGIN LEFTHAND NAVIGATION 
.LHN {
	padding: 10px;
	background-color: #99ccff;
	border: 1px solid #3399cc;
	border-bottom: 4px solid #3399cc;
	margin-bottom: 2px;
	width: 165;
}

.LHN UL {
	margin: 7px 0;
}

.LHN LI {
 list-style: none;
 text-indent: 0;
 border-bottom: 1px solid #ccffff;
 padding: 2px 0 1px 0;
 font-size: 90%;
}

UL.LHSUB {
	border: 0;
}
UL.LHSUB LI {
	margin: 0 0 0 15px;
}
LI.LHPT,
LI.LST {
	border: 0;
}

LI.LHCUR {
	font-size: .92em;
	list-style: none;
	margin-left: 15px;
	padding-left: 1em;
	text-indent: -2em;
}
.LHSUB LI.LHCUR {
	text-indent: -2.3em;
}
.ARW {
	font-size: 1.1em;
	margin: 0 3px 0 0;
	color: #ffffff;
	font-weight: bold;
}
.LHSUB .ARW {
	margin: 0 7px 0 0;
}
END LEFTHAND NAVIGATION */

/* BEGIN INTERIOR NAVIGATION 

.INAV {
	border-right: 2px solid #006699;
	border-bottom: 2px solid #006699;
	margin-top: 0;
	vertical-align: middle;
}
.INAV td {
	vertical-align: middle;
}

.INAV a {
	margin: 6px;
	vertical-align: top;
	font-size: .92em;
}

END INTERIOR NAVIGATION */


/* BEGIN SEMICONDUCTOR HEADER */
.SH {
	background-color: #e7e7e7;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	padding:  0 0 0 12px;
}
/* END SEMICONDUCTOR HEADER */

/* BEGIN SEMICONDUCTOR LOGIN */
.LOG {
	background-color: #B3B3B3;
	color: #ffffff;
	padding:  0 12px 0 0;
}

/* END SEMICONDUCTOR LOGIN */

/* BEGIN CONVENIENCE CHOICE */
.CC, 
 {
	padding: 5;
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: #e7e7e7;
	}

.Hdr {
	font-size: 12px;
	font-weight: bold;
}

/* END CONVENIENCE CHOICE */

/* BEGIN MBG PROMOTION */

.MBG {
	vertical-align: top;
}
/* END MBG PROMOTION */

/* BEGIN SYSTEM PROMOTION */
.SP td  {
	border-top: 1px solid #e7e7e7;
	vertical-align: middle;
	text-decoration: none;
	text-align: left;
}
/* END SYSTEM PROMOTION */


/* BEGIN PAGE CONTENT */
.CT {
	padding: 5px 0 5px 0;
}
/* END PAGE CONTENT */ 

/* BEGIN PAGE SUBHEADER */
.SubH {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	background-color: #FFFFFF;
}

.SubH a{
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.SubH a:hover{
	font-weight: bold;
	color: #ff6600;
	text-decoration: underline;
}

.SubH1 {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 5px 5px 5px 10px;
	background-color: #99B399;
}

.SubH2 {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 5px 5px 5px 10px;
	background-color: #99CC66;
}

.SubH3 {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 5px 5px 5px 10px;
	background-color: #80CCE6;
}

.SubH4 {
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	padding: 5px 5px 5px 10px;
	background-color: #6699CC;
}

.SubH1 a{
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}

.SubH1 a:hover{
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}

/* END PAGE SUBHEADER */

/* BEGIN SUBSCRIPTION SUBHEADER */
.Subs {
	border-bottom: 1px solid #666666;
	font-size: 12px;
	font-weight: bold;
	color: #OOOOOO;
	padding-top: 5px;
	padding-bottom: 5px;
}
/* END SUBSCRIPTION SUBHEADER */

/* BEGIN TABLE */
.Tbl_a{
	border: #99B399 1px solid;
}

.Tbl_a a{
	color: #000000;
	text-decoration: underline;
}

.Tbl_a a:hover{
	color: #FF6600;
	text-decoration: underline;
}

.Tbl_b{
	border: #99CC66 1px solid;
}

.Tbl_b a{
	color: #000000;
	text-decoration: underline;
}

.Tbl_b a:hover{
	color: #FF6600;
	text-decoration: underline;
}

.Tbl_c{
	border: #80CCE6 1px solid;
}

.Tbl_c a{
	color: #000000;
	text-decoration: underline;
}

.Tbl_c a:hover{
	color: #FF6600;
	text-decoration: underline;
}

.Tbl_d{
	border: #C2D6EB 1px solid;
}

.Tbl_d a{
	color: #000000;
	text-decoration: underline;
}

.Tbl_d a:hover{
	color: #FF6600;
	text-decoration: underline;
}

.Tbl_a_input{
	font-size: 9px;
	width: 130px;
	border: 1px solid #000000;
	font-family: Arial, Helvetica, sans-serif;
}


.Thd {
	background-color: #A5B49F;
	color: #ffffff;
	padding: 5px;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
}

.Thd_sort {
	background-color: #A5B49F;
	color: #ffffff;
	padding: 5px;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
}

.Thd_sort a{
	display: block;
	color:#FFFFFF;
	text-decoration: none;
	vertical-align: middle;
	font-size: 11px;
	font-weight: bold;
}

.Thd_sort a:hover{
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	vertical-align: middle;
	background-color: #B7C3B2;
	font-size: 11px;
	font-weight: bold;
}

.Thd2 {
 background-color: #3399cc;
 font-weight: bold;
 color: #000000;
 padding: 5px;
}

.Thdg {
	background-color: #ffcc66;
	font-weight: bold;
	color: #ffffff;
	padding: 5px;
}

.Thw {
	background-color: #FFFFFF;
	border-bottom: #A5B49F solid 1px;
	padding: 4px;
}

.Thg {
	background-color: #e7e7e7;
	border-bottom: #A5B49F solid 1px;
	padding: 4px;
}

.Thw a, .Thg a{  color: #000000;  text-decoration: underline; font-weight: bold; }
.Thw a:hover, .Thg a:hover{  color: #FF6600;  text-decoration: underline; font-weight: bold; }

.Thdg {
	background-color: #B3B3B3;
}

.cellformat1 {  PADDING: 4px; BACKGROUND: #ffffff; }
.cellformat2 { PADDING: 4px; BACKGROUND: #e7e7e7; }
.cellformat3 { PADDING: 4px; BACKGROUND: #B3B3B3; }
.cellformat4 {  PADDING: 4px; BACKGROUND: #99b399; }
.cellformat1 a, .cellformat2 a, .cellformat3 a, .cellformat4 a{  color: #000000; text-decoration: underline; font-weight: bold; }
.cellformat1 a:hover, .cellformat2 a:hover, .cellformat3 a:hover, .cellformat4 a:hover{  color: #FF6600;  text-decoration: underline; font-weight: bold; }

/* END TABLE */

/* BEGIN SEARCH TABLE */
.ST {
	font-weight: normal;
	background-color: #80CCE6;
}

.SR {
	border-bottom: 1px solid #000000;
}

.LBar {
	color: #000000;
	font-size: 10;
}

.RBar {
	color: #e7e7e7;
	font-size: 10;
}
/* END SEARCH TABLE */

/* BEGIN BACKGROUND COLORS */

.Bgg {
	background-color: #e7e7e7;
}

.Bgg2 {
	background-color: #ffffff;
}

.Bgg3 {
	background-color: #e7e7e7;
}

.Bgb
	{
	background-color: #e7e7e7;
	}

.Bgb2 {
	background-color: #ffffff;
}

.Bggn {
	background-color: #e6ccb3;
}

.Bgw {
	background-color: #ffffff;
}
/* END BACKGROUND COLORS */

/* BEGIN ANCHOR TAGS */

a.Drk, 
a.Drk:visited 
a.Drk:hover {
	color: #000000;
	font-size: 90%;
}
a.Lit, 
a.Lit:visited,
a.Lit:hover {
	color: #FF6600;
	text-decoration: none;
}

a.LitU, 
a.LitU:visited,
a.LitU:hover {
	color: #ffffff;
	text-decoration: underline;
}

a.PNav, 
a.PNav:visited {
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
}

a.PNav:hover {
	color: #333366;
	text-decoration: underline;
	font-size: 14px;
}

a.MBG, 
a.MBG:visited, 
a.MBG:hover {
	color: #666666;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	margin-left: 0px;
}

a.Ev, 
a.Ev:visited,
a.Ev:hover {
	color: #666666;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
}

a.EvSM, 
a.EvSM:visited,
a.EvSM:hover {
	color: #666666;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}

a.PNA,
a.PNA:visited,
a.PNA:hover {
	color: #000000;
	text-decoration: none;
}

a.TOP, 
a.TOP:visited 
a.TOP:hover {
	color: #00669;
	font-size: 90%;
}

/*== Added from Old Topbar ====*/
a.navDark, 
a.navDark:visited {
	font-size: .92em;
	color: #000000;
	text-decoration: none;
}

/* END ANCHOR TAGS */

/* BEGIN IMPORTANT FONT */
.IMP {
	color: #ff6600;
}

.messagetxt {
	COLOR: #ff6600; 
}
/* END IMPORTANT FONT */

/* BEGIN SITEMAP */
UL.sitemap {
	PADDING-LEFT: 2px; MARGIN: 1px 15px
}
/* END SITEMAP */

/* BEGIN EXPANDABLE TREES */
.hoverText { 
 FONT-WEIGHT: normal; 
 FONT-SIZE: 12px; 
 VERTICAL-ALIGN: middle; 
 COLOR: black; 
}
.hoverText a{
 TEXT-DECORATION: none;
 color: #000000;
}

.hoverText a:hover{
 TEXT-DECORATION: underline;
 color: #ff6600;
}

.hoverTextHeader { 
 font-size: 14px;
 font-weight: bold;
 background-color: #e7e7e7;
 color: #000000;
 }
.hoverTextHeader A:link {
 COLOR: black; TEXT-DECORATION: none 
}
.hoverTextHeader A:visited {
 COLOR: black; TEXT-DECORATION: none 
}
.hoverTextHeader A:active {
 COLOR: #ff6600; TEXT-DECORATION: none 
}
/* END EXPANDABLE TREES */

/* BEGIN OLD CSS */

UL.arrows {
	LIST-STYLE-IMAGE: url(/shared/images/HM_off.gif.gif)
}

.heading {
	MARGIN: 1.5em
}
.initial {
	MARGIN: 1.5em
}
TD.sidebar {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; COLOR: white; BACKGROUND: #809966; VERTICAL-ALIGN: middle; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif, "Trebuchet MS",
		Tahoma, Verdana; TEXT-ALIGN: left
}
TD.sidebar A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: white; TEXT-DECORATION: none
}
TD.sidebar A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: white; TEXT-DECORATION: none
}
TD.sidebar2 {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; COLOR: black; BACKGROUND: #ffffff; VERTICAL-ALIGN: middle; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif, "Trebuchet MS",
		Tahoma, Verdana; TEXT-ALIGN: left
}
TD.sidebar2 A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: black; TEXT-DECORATION: none
}
TD.sidebar2 A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: black; TEXT-DECORATION: none
}
TD.gutter {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: white; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; WIDTH: 10px; BORDER-RIGHT-WIDTH: 0px
}
TD.content {
	BACKGROUND: white; VERTICAL-ALIGN: top; WIDTH: 568px; TEXT-ALIGN: left
}
TD.content_nonav {
	BACKGROUND: white; VERTICAL-ALIGN: top; WIDTH: 708px; TEXT-ALIGN: left
}

.bodytext1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.subheading1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.list1 {
	LIST-STYLE-TYPE: none
}
.list2 {
	FONT-STYLE: italic; LIST-STYLE-TYPE: none
}
.tableheader1 {
	PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #809966; MARGIN: 0px; VERTICAL-ALIGN: middle; COLOR: white
}
TD.tableheader1 A:link {
	COLOR: white; TEXT-DECORATION: underline
}
TD.tableheader1 A:visited {
	COLOR: white; TEXT-DECORATION: underline
}
.tableheader3 {
	PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #809966; MARGIN: 0px; VERTICAL-ALIGN: middle; COLOR: white
}
.tableheader3 A:link {
	COLOR: white; TEXT-DECORATION: none
}
.tableheader3 A:visited {
	COLOR: white; TEXT-DECORATION: none
}
.tableheader4 {
	PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #80cce6; MARGIN: 0px; VERTICAL-ALIGN: middle; COLOR: black
}
.tableheader4 A:link {
	COLOR: black; TEXT-DECORATION: none
}
.tableheader4 A:visited {
	COLOR: black; TEXT-DECORATION: none
}
.tableheader5 {
	PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #e7e7e7; MARGIN: 0px; VERTICAL-ALIGN: middle; COLOR: #000000
}
.tableheader5 A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.tableheader5 A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.tableheader6 {
	PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #e7e7e7; MARGIN: 0px; VERTICAL-ALIGN: middle; COLOR: #000000
}
TD.tableheader6 A:link {
	COLOR: black; TEXT-DECORATION: underline
}
TD.tableheader6 A:visited {
	COLOR: black; TEXT-DECORATION: underline
}
.tableheader7 {
	PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #669966; MARGIN: 0px; VERTICAL-ALIGN: middle; COLOR: white
}
TD.tableheader7 A:link {
	COLOR: white; TEXT-DECORATION: underline
}
TD.tableheader7 A:visited {
	COLOR: white; TEXT-DECORATION: underline
}
.header1 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BACKGROUND: #809966; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: white; PADDING-TOP: 2px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING: 2px
}
.header1 A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.header1 A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.header1 A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.header2 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BACKGROUND: #6bb1bf; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 2px; MARGIN: 0px; VERTICAL-ALIGN: middle; COLOR: white; PADDING-TOP: 2px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING: 2px
}
.header2 A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.header2 A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.header2 A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.header3 {
	BORDER-TOP-WIDTH: 0px; 
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	FONT-WEIGHT: bold; 
	BORDER-LEFT-WIDTH: 0px; 
	FONT-SIZE: 12px; 
	BACKGROUND: #809966; 
	BORDER-BOTTOM-WIDTH: 0px; 
	PADDING-BOTTOM: 2px; 
	MARGIN: 0px; 
	VERTICAL-ALIGN: middle; 
	COLOR: white; 
	PADDING-TOP: 2px; 
	BORDER-RIGHT-WIDTH: 0px; 
	MARGIN: 0px; 
	PADDING: 2px
}
.header3 A:link {
	COLOR: #ffffff;
	TEXT-DECORATION: none
}
.header3 A:visited {
	COLOR: #ffffff; 
	TEXT-DECORATION: none
}
.header3 A:active {
	COLOR: #ffffff; 
	TEXT-DECORATION: none
}
/* header4 */
.header4 {
	BORDER-TOP-WIDTH: 0px;
	FONT-WEIGHT: bold; 
	BORDER-LEFT-WIDTH: 0px; 
	FONT-SIZE: 12px; 
	BACKGROUND: #99B399; 
	BORDER-BOTTOM-WIDTH: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: middle; 
	COLOR: #FFFFFF;
	BORDER-RIGHT-WIDTH: 0px; 
	MARGIN: 0px; 
	PADDING: 4px;
}
.header4 A:link {
	COLOR: #FFFFFF; 
	TEXT-DECORATION: none
}
.header4 A:visited {
	COLOR: #FFFFFF; 
	TEXT-DECORATION: none;
}
.header4 A:active {
	COLOR: #FFFFFF; 
	TEXT-DECORATION: none
}

/* headerMGR */
.headerMGR {
	BORDER-TOP-WIDTH: 0px;
	FONT-WEIGHT: bold; 
	BORDER-LEFT-WIDTH: 0px; 
	FONT-SIZE: 12px; 
	BACKGROUND: #99CC66; 
	BORDER-BOTTOM-WIDTH: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: middle; 
	COLOR: #FFFFFF;
	BORDER-RIGHT-WIDTH: 0px; 
	MARGIN: 0px; 
	PADDING: 4px;
}
.headerMGR A:link {
	COLOR: #FFFFFF; 
	TEXT-DECORATION: none
}
.headerMGR A:visited {
	COLOR: #FFFFFF; 
	TEXT-DECORATION: none;
}
.headerMGR A:active {
	COLOR: #FFFFFF; 
	TEXT-DECORATION: none
}
.headerMGRsub {
	BORDER-TOP-WIDTH: 0px;
	FONT-WEIGHT: bold; 
	BORDER-LEFT-WIDTH: 0px; 
	FONT-SIZE: 12px; 
	BACKGROUND: #999999; 
	BORDER-BOTTOM-WIDTH: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: middle; 
	COLOR: #FFFFFF;
	BORDER-RIGHT-WIDTH: 0px; 
	MARGIN: 0px; 
	PADDING: 4px;
}


/* headerMGR */
.headerEMP {
	BORDER-TOP-WIDTH: 0px;
	FONT-WEIGHT: bold; 
	BORDER-LEFT-WIDTH: 0px; 
	FONT-SIZE: 12px; 
	BACKGROUND: #80CCE6; 
	BORDER-BOTTOM-WIDTH: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: middle; 
	COLOR: #FFFFFF;
	BORDER-RIGHT-WIDTH: 0px; 
	MARGIN: 0px; 
	PADDING: 4px;
}
.headerEMP A:link {
	COLOR: #FFFFFF; 
	TEXT-DECORATION: none
}
.headerEMP A:visited {
	COLOR: #FFFFFF; 
	TEXT-DECORATION: none;
}
.headerEMP A:active {
	COLOR: #FFFFFF; 
	TEXT-DECORATION: none
}
.headerEMPsub {
	BORDER-TOP-WIDTH: 0px;
	FONT-WEIGHT: bold; 
	BORDER-LEFT-WIDTH: 0px; 
	FONT-SIZE: 12px; 
	BACKGROUND: #80CCE6; 
	BORDER-BOTTOM-WIDTH: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: middle; 
	COLOR: #FFFFFF;
	BORDER-RIGHT-WIDTH: 0px; 
	MARGIN: 0px; 
	PADDING: 4px;
}

/* headerCon */
.headerCon {
	BORDER-TOP-WIDTH: 0px;
	FONT-WEIGHT: bold; 
	BORDER-LEFT-WIDTH: 0px; 
	FONT-SIZE: 12px; 
	BACKGROUND: #C2D6EB; 
	BORDER-BOTTOM-WIDTH: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: middle; 
	COLOR: #000000;
	BORDER-RIGHT-WIDTH: 0px; 
	MARGIN: 0px; 
	PADDING: 4px;
}
.headerCon A:link {
	COLOR: #FFFFFF; 
	TEXT-DECORATION: none
}
.headerCon A:visited {
	COLOR: #FFFFFF; 
	TEXT-DECORATION: none;
}
.headerCon A:active {
	COLOR: #FFFFFF; 
	TEXT-DECORATION: none
}
.header5 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BACKGROUND: #e7e7e7; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 2px; MARGIN: 0px; VERTICAL-ALIGN: middle; COLOR: #000000; PADDING-TOP: 2px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING: 2px
}
.header5 A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.header5 A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.header5 A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.header6 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BACKGROUND: #e7e7e7; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 2px; MARGIN: 0px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 2px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING: 2px
}
.header6 A:link {
	COLOR: black; TEXT-DECORATION: none
}
.header6 A:visited {
	COLOR: black; TEXT-DECORATION: none
}
.header6 A:active {
	COLOR: black; TEXT-DECORATION: none
}
.header7 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 13px; BACKGROUND: #669966; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 2px; MARGIN: 0px; VERTICAL-ALIGN: middle; COLOR: white; PADDING-TOP: 2px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING: 2px
}
.header7 A:link {
	COLOR: white; TEXT-DECORATION: none
}
.header7 A:visited {
	COLOR: white; TEXT-DECORATION: none
}
.header7 A:active {
	COLOR: white; TEXT-DECORATION: none
}
.pageheader1 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BACKGROUND: #809966; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 7px; MARGIN: 0px; COLOR: white; PADDING-TOP: 7px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING: 2px
}
.whatsnewtable {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: #80cce6; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.whatsnewheader {
	FONT-WEIGHT: bold; BACKGROUND: #80cce6; COLOR: #000000; TEXT-ALIGN: center
}

.newsletterheader1 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; FONT-WEIGHT: bold; FONT-SIZE: 16px; BACKGROUND: #FFFFFF; COLOR: #809966; MARGIN: 2px; TEXT-ALIGN: CENTER; PADDING: 4px
}
/*BEGIN 5 TABS CSS*/

.5Tabs {
	width: 590px;
}

.5Tabs_ME {
	width: 420px;
}
#2tabs {
	width: 100%;
}


/*END 5 TABS CSS*/


/* END OLD CSS */

/* END SEARCH */
		
/* --- GLOBAL NAVIGATION ---- */

/*.GloNav a, .GF a {
	font-size: 100%;
}

.GloNav {
    padding: 0;
	height: 22px;
	background-color: #B3B3B3;
	border-top: 1px solid #FF6600;
	border-bottom: 1px solid #FF6600;
}
.TopNav,a.TopNav,a.TopNav:visited,a.TopNav:hover{
	color:#000000;
    padding: 0;
	height: 21px;
	background-color: #CCCCCC;
	border-top: 1px solid #FF6600;
}
*/
a.Wh, 
a.Wh:visited,
a.Wh:hover {
	color: #FFFFFF;
	text-decoration: none;
}

a.LitSmall, 
a.LitSmall:visited,
a.LitSmall:hover {
	color: #000000;
	text-decoration: none;
	font-size: 10px;
}


/* Sortable tables */
table.sortable a.sortheader {
    color:#ffffff;
    text-decoration: none;
    display:block;
}
table.sortable span.sortarrow {
    color: #ffffff;
    text-decoration: none;
}

/* BEGIN: Image Thumbnail CSS */

.imageThumb a{
	border: solid 1px #A5B49F;
}

.imageThumb a:hover{
	border: solid 1px #809966;
}

/* END: Image Thumbnail CSS */

 	
/* ---- END GLOBAL NAVIGATION ---- */
/* Copy from older css file */
.navsubbanner { font-family:arial,helvetica,sans-serif; color:#000000; background:#D3D3D3; font-size:14px; }
.navsubbanner a:link, .navsubbanner a:visited { color:#000000; text-decoration: none; }
.navsubbanner a:active, .navsubbanner a:hover { color:#0000A0; }

.globalnav { font-family:arial,helvetica,sans-serif; font-size:13px; }
.globalnav a:link, .globalnav a:visited { color:#999; color:#03f; }
.globalnav a:active, .globalnav a:hover  { color:#f60; }

.banner1 { font-family:"Trebuchet MS",arial,helvetica,sans-serif; color:#ffffff; font-size:18px; }
.banner2 { font-family:verdana,arial,helvetica,sans-serif; color:#ffffff; font-weight:bold; font-size:12px; }

.topnav { font-family:arial,helvetica,sans-serif;  color:#ffffff; background:#000000; font-size:14px; }
.topnav a:link, .topnav a:visited { color:#ffffff; text-decoration:none; }
.topnav a:active, .topnav a:hover  { color:#fc0; }

.leftheader { font-family:"Trebuchet MS",arial,helvetica,sans-serif; color:#555555; font-weight:bold; font-size:16px; }
.leftheader a:link, .leftheader a:visited { color:#999; color:#03f; }
.leftheader a:active, .leftheader a:hover { color:#f60; }

.leftnav { font-family:arial,helvetica,sans-serif; font-size:13px; }
.leftnav a:link, .leftnav a:visited { color:#999; color:#03f; }
.leftnav a:active, .leftnav a:hover { color:#f60; }

/*=====Local/Site Secondary Navigation====================*/
.LocalSiteNavigation,
.LocalSiteNavigation a,
.LocalSiteNavigation a:visited {
		background-color: #ffffff;
		vertical-align: top; 
		text-align: right; 
		padding-right: 5px;	
		color: #000000;
                font-weight: bold;
		vertical-align: middle;
}
.LocalSiteNavigation .left {
	padding: 1px 2px 1px 10px;
	text-align: left;
	vertical-align: middle;
}
.LocalSiteNavigation .right {
	padding: 1px 10px 1px 2px;
	text-align: right;
	vertical-align: middle;
}

.GlobalFooter {
	color: #ffffff;
	padding: 0;
	background-color: #333366;
	border-top: 1px solid #3399cc;
	border-bottom: 5px solid #3399cc;
	font-size: .9em;
}
.GlobalFooter {
	padding: 0 8 0 8px;
	margin-top: 50px;
}
.GlobalFooter .left,
.GlobalFooter .left a {
	color: #ffffff;
	vertical-align: middle;
	text-decoration: none;	
	padding: 0 8 0 8px;
}
.GlobalFooter .right,
.GlobalFooter .right a {
	color: #ffffff;
	vertical-align: middle;
	text-decoration: none;	
	padding: 0 8 0 8px;
}
.footerBlue {
	background-color: #6699CC;
}

.footer {
	background-color: #6699CC;
	font-size: 10px;
	color: #FFFFFF;
	padding: 0px 0px 0px 10px;
}

.footer a{
	color: #FFFFFF;
	text-decoration: none;

}

.footer a:hover{
	color: #FFFFFF;
	text-decoration: underline;

}
.BusinessFunctionNavigation .left,
.BusinessFunctionNavigation .left a {
	color: #ffffff;
	vertical-align: middle;
	text-decoration: none;	
	padding: 0 8 0 8px;
}

/*====== Left Hand Navigation ======*/
.LeftHandNavigation {
	padding: 0;
	background-color: #99ccff;
	border: 1px solid #3399cc;
	border-bottom: 4px solid #3399cc;
	margin-bottom: 2px;
	width: 165px;
}
.LeftHandNavigation a {
	text-decoration: none;
}
.LeftHandNavigation .container {
	padding: 10px 0 0 0;
}
.LeftHandNavigation ul {
	margin: 0;
	padding: 0;
}
.LeftHandNavigation li {
	list-style: none;
	text-indent: 0;
	margin: 0 15px 0 15px;
	padding: 3px 0 1px 0;
	border-bottom: 1px solid #ccffff;
}
.LeftHandNavigation ul.sub {
	border: 0;
}
.LeftHandNavigation ul.sub li {
	margin: 0 0 0 15px;
}
.LeftHandNavigation li.parent,
.LeftHandNavigation li.last {
	border: 0;
}
.LeftHandNavigation li.last {
	padding-bottom: 15px;
}
.LeftHandNavigation ul.sub li.last {
	border: 0;
	margin: 0 0 0 15px;
	padding-bottom: 15px;
}
.LeftHandNavigation li.current,
.LeftHandNavigation li.currentlast {
	font-size: .92em;
	list-style: none;
	margin-left: 15px;
	padding-left: 1em;
	text-indent: -2em;
}
.LeftHandNavigation li.currentlast {
	border: 0;
	padding-bottom: 15px;
}
.LeftHandNavigation .sub li.current {
	text-indent: -2.3em;
}
.LeftHandNavigation ul.sub li.currentlast {
	font-size: .92em;
	list-style: none;
	margin-left: 15px;
	padding-left: 1em;
	text-indent: -2em;
	border: 0;
	margin: 0 0 0 15px;
	padding-bottom: 15px;
}
.LeftHandNavigation .arrow {
	font-size: 1.1em;
	margin: 0 3px 0 0;
	color: #ffffff;
	font-weight: bold;
}
.LeftHandNavigation .sub .arrow {
	margin: 0 7px 0 0;
}

/*===== Entry Links====================*/
.EntryLinks {
	padding: 0;
	border: 1px solid #3399cc;
	border-bottom: 4px solid #3399cc;
	margin-bottom: 2px;
	width: 165px;
}
.EntryLinks .bg1 {
	background-color: #99cccc;
}
.EntryLinks .bg2 {
	background-color: #99ccff;
}

.EntryLinks .container {
	padding: 10px 0;
}
.EntryLinks ul{
	margin: 0;
	padding:0;
}
.EntryLinks li,
.EntryLinks h2 {
	list-style: none;
	text-indent: 0;
	margin: 0 15px 0 15px;
	padding: 3px 0 1px 0;
	border-bottom: 1px solid #ccffff;
}
.EntryLinks li.last {
	border-bottom: 0;
}

/*======== grid ========*/
.grid0, .grid1, .grid2 {
	padding: 0;
	margin: 4px 0 0;
}
.grid1,
.grid2,
.grid1 .columnR,
.grid1 .grid2 .columnL {
	width: 100%;
}

.grid1 .columnL,
.grid1 .grid2 .columnR {
	width: 165px;
}

.columnL {
	padding: 0 5px 0 0;
}
.columnR {
	padding: 0 0 0 5px;
}

.cella_form {
	font-size: 12px;
	border: 1px;
	border-color: #999999;
	border-style: solid;
	height: 21px;
}
